<div class="card">
    <img src={{this.image_url}} alt="" class="card-img-top">

    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
    </div>
</div>