<div class="index-container">
    <img class="beer-foto" src="images/beer.png">
    <button class="beer-button">Check the Beers! </button>
    <button class="beer-button">Check a random Beer! </button>
</div>